body { 
	background-color: #FFF8DC;
	font-family: arial, verdana, sans-serif;
}

hr.header {
	width: 220px;
	height: 4px;
	background-color: black;
}

h1 {
	text-align: center;
	letter-spacing: 8px;
	font-family: arial ;
}

a {
	text-decoration: none;
	color: orangered;
	line-height: 20px;
}

h2 {
	text-indent: 3%;
	word-spacing: 7px;
	margin-bottom: 8px;
}

hr.h2 {
	width: 100px;
	height: 1.5px;
	margin-left: 37px;
	background-color: black;
	margin-bottom: 30px;
}

p {
	margin-left: 37px;
	margin-right: 40px;
	text-align: justify;
	text-indent: 2.5%;
	line-height: 24px;
}

.bawah {
	text-align: left;
}
